Data TLB configuration
Number of sets: 2
Set size: 2

Page Table configuration
Number of virtual pages: 64
Number of physical pages: 4
Page size: 256

Data Cache configuration
Number of sets: 4
Set size: 4
Line size: 16

Victim Cache configuration
Set size: 4

Virtual addresses: y
TLB: n
Victim cache: y